body {
    font-family: mine;
    background: url("dirtyminecratf.jpg");
    width: 50vw;
    height: 90vh;
    margin: 200px;
}

@font-face {
    font-family: mine;
    src: url(Minecraftia-Regular.ttf);
}

h1 {
    padding: 30px;
    margin-left: 300px;
    margin-top: -145pt;
    color: white;
}

.container1 {
    position: relative;
    text-align: center;
    background-color: white;
    width: 20vw;
    height: 10vh;
    right: 50px;
    left: 30px;
    top: -19px;
    z-index: 1;
}

.container2 {
    position: relative;
    text-align: center;
    background-color: white;
    width: 20vw;
    height: 10vh;
    left: 328px;
    top: -100.5px;
    z-index: 1;
}

.container3 {
    position: relative;
    text-align: center;
    background-color: white;
    width: 20vw;
    height: 10vh;
    left: 625px;
    top: -181px;
    z-index: 1;
}



.cenário {
    position: absolute;
    left: 281px;
    right: 190px;
    top: 15pc;
    cursor: crosshair;
}

footer {
    background-color: #778899;
    margin: -200px;
    padding-top: 95px;
    margin-top: 200px;
    height: 230px;
    width: 1349px;
    left: -30px;
}

.parágrafos {
    text-align: center;
    text-size-adjust: 3px;
    margin-top: -90px;
}

.prgrf1 {
    position: relative;
    right: 400px;
    padding-bottom: 100px;
    z-index: 1;
}

.footercontent1 {
    text-size-adjust: 3px;
}

.prgrf2 {
    position: absolute;
    left: 1000px;
    margin-top: -315.5px;
}

.footercontent2 {
    text-size-adjust: 3px;
}

.direitos {
    margin-top: -100px;
    z-index: 1;
}

.C {
    position: relative;
    margin-left: 3px;
    top: -5px;
    z-index: 1px;
}

#cenario {
    position: relative;
    width: 800px;
    height: 300px;
    border: 2px solid black;
    overflow: hidden;
    background-image: url("65b33d5a4a3c55e1a9c751180d59c49f.jpg");
}


#imagem {
    position: absolute;
    width: 150px;
    height: 240px;
    background-image: url("Endermanpng (1).jpeg");
    background-size: cover;
    border-radius: 50%;
    cursor: crosshair;
}


.container {
    margin-top: 10px;
    font-size: 18px;
    background-color: aliceblue;
}